h1,
h2,
h3,
h4 {
  margin: 0;
  color: white;
}
#hello {
  padding: 1em;
}
#hello > b {
  color: red;
}
body {
  margin: 0;
  background-color: black;
  height: 100vh;
}
#multiplier {
  color: white;
  padding: 0 1em;
  display: flex;
  flex-direction: column;
  width: fit-content;
}
#multiplier > h4 {
  text-align: center;
}
#container {
  width: -webkit-fill-available;
  padding: 1em;
  display: flex;
  justify-content: space-between;
  max-height: -webkit-fill-available;
}
#panel {
  display: flex;
}
#controls {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
#info {
  padding: 1em;
  color: white;
}

#info > br {
  display: inline-block;
  overflow: hidden !important;
  padding-right: 0.5em;
}

#info > #selected-file {
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 50vw;
}

#top {
  width: 100%;
  position: fixed;
  background-color: black;
}
#selected-container {
  padding: 0 1em;
}
#selected-view {
  max-height: 80px;
  height: 100%;
}

#list {
  color: white;
  width: 40vw;
  min-width: max-content;
  height: auto;
  display: block;
  overflow-y: scroll;
}
#list > tr {
  display: flex;
  width: inherit;
  justify-content: space-between;
}
#list > tr > td {
  padding: 0.2em;
  display: block;
  word-break: break-all;
  padding-right: 1em;
}
#list > tr > td:first-child {
  display: inline-block;
  overflow: hidden !important;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: -webkit-fill-available;
}
#list > tr > td:last-child {
  background-color: darkred;
}

#canvas-block {
  max-width: 50%;
}
#canvas {
  max-width: -webkit-fill-available;
  max-height: -webkit-fill-available;
}